.menu, .menu-transform {
  margin: 10px;
  background-color: chartreuse;
}

.contenedor, .contenedor-con-altura {
  width: 1024px;
  height: 514px;
  background: rgb(55, 0, 255);
}

h1, h2, h3 {
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: rgb(235, 14, 14);
}

.contenedor-con-altura {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.menu-transform {
  background-color: chartreuse;
}

body {
  background-color: red;
}

.imagenes {
  margin-left: 150px;
}