.contenedor-con-altura{
    @extend .contenedor;
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;    
}


.menu-transform{
    @extend .menu;
    background-color: chartreuse;
}