// variables
$ancho : 1024px;
$alto: 514px;
$fondo:rgb(55, 0, 255);
$titulosColor: yellow;
$fuente: Arial, Helvetica, sans-serif;
$parrafosColor: rgb(235, 14, 14);

.contenedor{
    width: $ancho;
    height: $alto;
    background: $fondo;
}

h1, h2, h3{
    color: $titulosColor;
    font-family: $fuente;
}

p{
    color: $parrafosColor;
}